<%= form_for([@category, @product]) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Название" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Описание" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Цена" %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label "Картинка" %><br>
    <p class="info">Добавьте изображение по ссылке с другого ресурса:</p>
    <%= f.text_field :pic_url %>
    <p class="info">Или загрузите изображение:</p>
    <%= f.file_field :image, class: 'upload' %>
  </div>
  <div class="actions">
    <%= f.submit "Сохранить", class: 'save' %>
  </div>
<% end %>
